<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1 style="color: blue;">Consulta agendada!</h1>
        <hr>
        <h2><span style="color: blue ;">Paciente:</span> <%- username %> </h2>
        <h2><span style="color: blue">Médico:</span> <%- doctorName %> - <%- speciality %></h2>
        <h2><span style="color: blue;">Data da consulta:</span> <%- consultationDate %> às <%- consultationTime %> </h2>
    </div>
</body>

</html>